body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    position: relative;
}


main {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.week-section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.summary-table th, .summary-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.summary-table th {
    background-color: #4CAF50;
    color: white;
}

canvas {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    position: relative;
    bottom: 0;
}

@media (max-width: 768px) {


    .week-section {
        padding: 10px;
    }

    .summary-table th, .summary-table td {
        padding: 5px;
    }
}

@media (max-width: 400px) {
    header h1 {
        font-size: 18px;
    }
}
