body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 48rem;
  width: 90%; /* Adjust width as needed */
  margin: 50px auto;
  padding: 0 1rem;
  text-align: center;
}

footer {
  text-align: center;
}

.section {
  margin-bottom: 2rem;
}

.heading {
  font-size: 1.875rem;
  font-weight: bold;
}

.description {
  color: #6b7280;
}

.input-group {
  margin-bottom: 1rem;
}

label {
  font-size: 0.875rem;
  font-weight: bold;
}

.inputlabel {
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
  background-color: #f3f4f6;
}

textarea {
  min-height: 3rem;
  height: auto; /* Reset height to auto for responsiveness */
  background-color: #f3f4f6;
}

#outputMessage {
  height: auto; /* Reset height to auto for responsiveness */
  resize: vertical;
}

.radio-options {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust spacing between radio buttons */
}

.radio-options input[type="radio"],
.radio-options label {
  display: inline-block;
}

.button-19 {
  appearance: button;
  background-color: #1877f2;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 10px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 13px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #00aeef;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}


.copy-button {
  margin-left: 0.5rem;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}
