body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #d9d9d9;
}

header, footer {
  text-align: center;
}

.blog-container {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}

.content {
  text-align: justify;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border-bottom: 1px solid #2f3336;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #16181C;
  font-weight: bold;
  color: #8899a6;
}

a {
  color: #ffffff; /* White color */
  text-decoration: none; /* Remove underline */
}

a:visited {
  color: #ffffff; /* White color */
}