@media screen and (max-width: 600px) {
    body {
        font-family: "Poppins", sans-serif;
      }
    header, footer {
        text-align: center;
    }
    
    .blog-container {
        max-width: 80%;
        margin-top: 100px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .item {
        display: flex;
        flex-direction: column;
        border: 1px solid black; /* Add a 1px solid black border */
        margin: 10px;
        border-radius: 5px;
    }

    .thumbnail-container {
        padding: 20px;
        display: flex;
    }

    .thumbnail {
        margin: 0;
        align-self: center;
        border: 1px solid black; /* Add a 1px solid black border */
        max-width: 100%; /* Set maximum width to 100% of its container */
        height: auto; /* Ensure the image maintains its aspect ratio */
    }
    
    
    .item-text {
        padding-top: 0; /* Remove top padding */
        padding-right: 20px; /* Keep right padding */
        padding-bottom: 20px; /* Keep bottom padding */
        padding-left: 20px; /* Keep left padding */
        color: black;
        text-decoration: none;
    }
    
    
    .item-title {
        margin-top: 0;
    }
    
    .read-more {
        text-align: right;
    }
}