body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  color: #333;
}

header,
footer {
  text-align: center;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header .by a {
  color: #ffd700;
  text-decoration: none;
}

.blog-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(50% - 20px);
  min-width: 300px;
  max-width: 48%;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.thumbnail-container {
  max-height: 200px;
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.item-text {
  padding: 20px;
}

.item-title {
  font-size: 1.5em;
  margin: 0 0 10px;
  color: #4CAF50;
}

.item-text p {
  text-align: justify;
  margin: 0 0 10px;
}

.read-more {
  text-align: right;
}

.read-more a {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
}

footer p {
  margin: 0;
}
