body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  background-image: url("/assets/megumegumin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  font-size: larger;
  margin: 0;
}

.progress-bar-container {
  margin-top: 10px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
}

#progress-bar {
  width: 0%;
  height: 5px;
  background-color: #76c7c0;
  border-radius: 25px;
  margin-bottom: 10px;
}

.main-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  max-height: 90vh; /* Limit height to 90% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #c0c0c0 #f0f0f0; /* Firefox */
}

/* Custom Scrollbar Styles */
.main-container::-webkit-scrollbar {
  width: 8px;
}

.main-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.main-container::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

.main-container::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.quiz-container,
.completed-container {
  display: none;
}

.completed-container {
  text-align: center;
  padding: 20px;
}

#final-score-container {
  margin-bottom: 20px;
}

#question-container {
  margin-bottom: 20px;
}

#question-text {
  margin-bottom: 20px;
/*  user-select: none; */
/*  -webkit-user-select: none; /* For WebKit-based browsers (Safari, Chrome) */
/*  -moz-user-select: none; /* For Firefox */
/*  -ms-user-select: none; /* For older versions of Internet Explorer */
}

#options-container {
  display: flex;
  flex-direction: column;
}

button,
.option {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

button:hover,
.option:hover {
  background: #e0e0e0;
  transform: scale(1.02);
}

#score-container {
  margin-bottom: 10px;
}

.answer-card,
.wrong-answer {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.answer-card .question-text,
.wrong-answer .question {
  font-weight: bold;
}

.answer-card .your-answer,
.wrong-answer .your-answer {
  color: red;
}

.answer-card .correct-answer,
.wrong-answer .correct-answer {
  color: green;
}

em {
  font-style: normal;
  text-decoration: underline;
  text-underline-offset: 5px; /* Adjust this value as needed */
}

#navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#navigation-buttons button {
  width: 45%;
}

.option.correct {
  background-color: #d4edda;
  color: #155724;
}

.option.incorrect {
  background-color: #f8d7da;
  color: #721c24;
}

.option.correct::after {
  content: '✔';
  color: green;
  margin-left: 10px;
}

.option.incorrect::after {
  content: '✖';
  color: red;
  margin-left: 10px;
}

.option.disabled {
  pointer-events: none; /* Disables clicking */
  opacity: 0.6; /* Makes the option appear faded */
}


.summary-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.summary-card .question-text {
  font-weight: bold;
}

.summary-card .time-taken {
  color: #555;
}

.summary-card .result {
  font-weight: bold;
}

.summary-card .your-answer, .summary-card .correct-answer {
  margin-top: 5px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
  .main-container {
    width: 90%;
    padding: 10px;
  }

  .styled-table th,
  .styled-table td {
    padding: 8px 10px;
    font-size: 0.9em;
  }

  .styled-table thead tr {
    font-size: 1em;
  }
}
