body {
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Prevent text selection */
body {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}


.phone-container {
  max-width: 375px;
  max-height: 667px;
  width: 90vw;
  height: 80vh;
  background-color: #000;
  background-image: url("/assets/projects/backgroundahome.png");
  background-size: cover; /* or contain, depending on your preference */
  background-repeat: no-repeat; /* to prevent repeating */
  border-radius: 30px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 80px;
}

.app-icon {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.app-icon img {
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.app-name {
  font-size: 12px;
  color: #fff;
  text-align: center;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-widget {
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.image-widget img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
}

.context-menu-item {
  cursor: pointer;
  padding: 5px;
}

.context-menu-item:hover {
  background-color: #f0f0f0;
}

@media (max-width: 675px) {
  .phone-container {
    max-width: 100%;
    max-height: 95%;
    height: 100vh;
    border-radius: 0;
  }
}
