body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.blog-container {
    max-width: 70%;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  header,
  footer {
    text-align: center;
  }