 h1 {
     font-size: 2.5rem;
     color: #ffff00;
     margin-bottom: 10px;
     text-transform: uppercase;
     letter-spacing: 3px;
     text-align: center;
 }

 .subtitle {
     text-align: center;
     font-size: 1rem;
     color: #ffff00;
     margin-bottom: 40px;
     opacity: 0.8;
 }