body {
    font-family: Arial, sans-serif;
    background-color: #ff6683;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d4ddfb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid #261f4c;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

.logo {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
    transition: all 0.5s ease;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.5s ease;
}

.search-container .logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
    transition: all 0.5s ease;
}

.search-container.with-logo .logo {
    display: block;
}

.search-container.no-logo .logo {
    display: none;
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 3px solid #261f4c;
    background-color: #fbfdfd;
    border-radius: 5px;
}

#clear-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: none;
}

.question-container {
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid #261f4c;
    border-radius: 5px;
    background-color: #fbfdfd;
}

.question-number {
    font-weight: bold;
    color: #fc5b7c;
}

.question-text {
    margin: 10px 0;
    color: #261f4c;
}

.highlight {
    background-color: #fdb9c4;
}

.options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.options li {
    margin: 5px 0;
    color: #3c4043;
}

.options li.correct {
    color: #34a853;
    font-weight: bold;
}

#results-container {
    display: none;
}

.result-item {
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid #261f4c;
    border-radius: 5px;
    background-color: #fbfdfd;
}

.result-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #fc5b7c;
}

a {
    color: #fc5b7c;
}

.result-url {
    color: #34a853;
}

.result-description {
    color: #201d47;
}

.statistics {
    margin-top: 20px;
    font-size: 14px;
    color: #70757a;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #261f4c;
    background-color: #fcfcfd;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button.active {
    background-color: #fc5b7a;
    color: #fff;
    border-color: #261f4c;
}

em {
    font-style: normal;
    text-decoration: underline;
    text-underline-offset: 5px;
}


.tabs {
    display: none;
    gap: 10px;
    margin-bottom: 10px;
}

.tab {
    padding: 10px;
    cursor: pointer;
    border: 3px solid #26204e;
    background: #fbfdfd;
    transition: all 0.5s ease;
}

.tab.active {
    background: #fc5b7a;
    color: #fff;
    font-weight: bold;
    border-color: #26204e;
}

.level-label, .type-label{
    display: inline-block;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    margin: 0 5px 10px 0;
  }

  .level-1 {
    background-color: #261fdf; /* Green for N1 */
  }
  
  .level-2 {
    background-color: #dc3545; /* Blue for N2 */
  }
  
  .level-3 {
    background-color: #ffc107; /* Yellow for N3 */
  }
  
  .level-4 {
    background-color: #2fd74b; /* Red for N4 */
  }
  
  .type-moji {
    background-color: #e6b52d;
  }
  
  .type-goi {
    background-color: #2adede;
  }
  
  .type-bunpo {
    background-color: #df4384;
  }
  
  .type-all-label {
    background-color: #bbbbbb;
  }

@media (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #fff;
    }

    .container {
        width: auto;
        margin: 0;
        height: auto;
        border-radius: 0;
        box-shadow: none;
    }
}