body {
    font-family: "Poppins", sans-serif;
    background-color: #555555;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


.poem-container,
.poem-container-mawar {
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.poem-container-mawar {
    background-color: #ffccdd;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌹</text></svg>") 16 0, auto;
}

  /* Media queries for responsiveness */
  @media screen and (max-width: 600px) {
    .poem-container,
    .poem-container-mawar {
        max-width: 800px; /* Adjust padding for smaller screens */
    }
}

.poem-title {
    color: black;
    cursor: pointer; 
}

.tanggal, .section {
    padding: 10px;
    margin-bottom: 5px; 
}
  

h2 {
    color: black;
}


footer {
    text-align: center;
    color: #fff;
}

.mawar-line {
    font-size: 20px;
    line-height: 1.5;
    margin: 15px 0;
    color: #ff66a3;
    /* Pink text color */
}

.line {
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0;
    display: none;
    /* Hide lines by default */
}

.show-line {
    display: block;
    /* Show lines on click */
}

.toggle-fullscreen-btn {
    position: fixed;
    top: 20px; /* Adjust top position as needed */
    left: 20px; /* Adjust right position as needed */
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    outline: none;
    z-index: 100; /* Ensure button is above other content */
  }
  
  
  
  .toggle-fullscreen-svg {
      display: block;
      height: auto;
  }
  
  .toggle-fullscreen-svg path {
      transform-box: view-box;
      transform-origin: 12px 12px;
      fill: none;
      stroke: hsl(0, 0%, 100%);
      stroke-width: 4;
      transition: .15s;
  }
  
  
  .toggle-fullscreen-btn:hover path:nth-child(1),
  .toggle-fullscreen-btn:focus path:nth-child(1) {
      transform: translate(-2px, -2px);
  }
  
  .toggle-fullscreen-btn:hover path:nth-child(2),
  .toggle-fullscreen-btn:focus path:nth-child(2) {
      transform: translate(2px, -2px);
  }
  
  .toggle-fullscreen-btn:hover path:nth-child(3),
  .toggle-fullscreen-btn:focus path:nth-child(3) {
      transform: translate(2px, 2px);
  }
  
  .toggle-fullscreen-btn:hover path:nth-child(4),
  .toggle-fullscreen-btn:focus path:nth-child(4) {
      transform: translate(-2px, 2px);
  }
  
  
  .toggle-fullscreen-btn:not(.on) .icon-fullscreen-leave {
      display: none;
  }
  
  .toggle-fullscreen-btn.on .icon-fullscreen-enter {
      display: none;
  }


  

  