body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.progress-bar-container {
  margin-top: 10px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
}

#progress-bar {
  width: 0%;
  height: 20px;
  background-color: #76c7c0;
  border-radius: 25px;
}


.completed-container {
  text-align: center;
  padding: 20px;
}

#final-score-container {
  margin-bottom: 20px;
}

.styled-table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  min-width: 400px;
  border: 1px solid #dddddd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}


.main-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}


.quiz-container, .completed-container {
  display: none;
}

#question-container {
  margin-bottom: 20px;
}

#question-number {
  font-weight: bold;
  margin-bottom: 10px;
}

#question-text {
  margin-bottom: 20px;
}

#options-container {
  display: flex;
  flex-direction: column;
}


button, .option {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

button:hover, .option:hover {
  background: #e0e0e0;
  transform: scale(1.02);
}

#score-container,
#progress-container {
  margin-bottom: 10px;
}


em {
  text-decoration: underline;
}

